@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*, 
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to right bottom, rgba($gradient1, 0.87), rgba($gradient2, 0.73)), url('../assets/bg__trees.png');
  background-size: 100vw 50%;
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: $darker-bg;
  font-family: $primaryFont;
  font-size: 1.6rem;
}