$white: #fff;
$dark-bg: #25273c;
$darker-bg: #181824;
$gray: #7c7d8a;
$light-blue: #72bef8;
$gradient1: #5A9BFF;
$gradient2: #FB96E2;

$primaryFont: 'Inter', sans-serif;

$screen-medium: 825px;
$screen-medium-small: 630px;